.auth__main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(75, 114, 70, 1) 2%,
    rgba(122, 170, 116, 1) 49%,
    rgba(58, 147, 47, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.auth__main h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
}

.auth-container {
  flex: 1 1;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.auth__box-container {
  background-color: white;
  box-shadow: 0px 3px $dark-grey;
  border-radius: 10px;
  padding: 2rem;
  width: 250px;
  text-align: center;
}

.auth__title {
  color: darken($color: $primary, $amount: 20);
  margin-bottom: 1rem;
}

.auth__input {
  color: $dark-grey;
  border: none;
  border-bottom: 1px solid $ligth-grey;
  font-size: 16px;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  transition: border-bottom 0.4s ease;
  &:focus {
    border-bottom: 1px solid $primary;
    outline: 0;
  }
}

.auth__social-network {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  text-align: left;
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 5px;
}

.footer {
  color: #fff;
  background-color: $dark-grey;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.1rem;
}

.footer .info {
  margin: 0 0 1rem 0;
}
.footer a {
  color: white;
  background-color: $primary;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 0.5rem !important;
}
