.nothing__main-content {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(75, 114, 70, 1) 2%,
    rgba(122, 170, 116, 1) 49%,
    rgba(58, 147, 47, 1) 100%
  );
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  p {
    text-align: center;
  }
}

.nothing__main-content .mensaje{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}