.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(75, 114, 70, 1) 2%,
    rgba(122, 170, 116, 1) 49%,
    rgba(58, 147, 47, 1) 100%
  );
}

.note_container {
  display: flex;
  flex-direction: column;
  border: 3px solid #7aaa74;
  border-radius: 10px;
  padding: 2rem;
  max-height: 70% !important;
  width: 50%;
  margin: auto auto;
  flex: 1 1;
}

.notes__title-input,
.notes__text-area {
  color: #fff;
  border: none;
  &:focus {
    outline: 0;
  }
}

.notes__title-input {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background-color: transparent;

  &:focus {
    border-bottom: 2px solid #ccc;
  }

  &::placeholder {
    color: $ligth-grey;
  }
}

.notes__text-area {
  color: $ligth-grey;
  font-size: 20px;
  resize: none;
  flex: 1;
  width: 100%;
  height: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
  &:focus {
    border: 2px solid #ccc;
  }
  &::placeholder {
    color: $ligth-grey;
  }
}

.notes__image img {
  -webkit-box-shadow: 0px 29px 42px -15px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 29px 42px -15px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 29px 42px -15px rgba(0, 0, 0, 0.73);
  height: 150px;
  display: block;
  margin: 0 auto;
}

.notes__buton_actions {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
}
