@import './base/settings';
@import './base/base';
// components
@import './components/auth';
@import './components/buttons';
@import './components/links';
@import './components/journal';
@import './components/nothing';
@import './components/notes';

html,
body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 0.5rempx;
}
.mt-5 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.pointer {
  cursor: pointer;
}
