/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* Global CSS */

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
}

body.dark {
  background-color: var(--bg-dark);
  --black-100: var(--bg-dark);
  --black-000: var(--bg-dark);
  --main-to-dark-color: var(--bg-dark);
  --dark-to-main-color: var(--main-color);
  --shadow-black-100: var(--shadow-black-300);
  --black-alpha-100: rgba(225, 225, 225, 0.05);
  --black-900: #fff;
  --black-400: #bbb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

.overlay-custom-delete {
  background: rgba(0, 0, 0, 0.5);
}

.react-confirm-alert .react-confirm-alert-body {
  text-align: center !important;
}

.react-confirm-alert .react-confirm-alert-button-group {
  justify-content: center;
}

.react-confirm-alert-button-group button {
  font-size: 1rem;
  background-color: $primary;
}
