// Colors
$primary: #7aaa74;
$primary-strong: #4b7246;
$secondary: #9ac2c9;
$success: #b9d8c2;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;
$bg-dark: #2b2c2f;
$main-to-dark-color: var($primary);
$dark-to-main-color: var($bg-dark);
$shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
$black-900: #000000;
$black-400: #555555;
$black-300: #c2c2c2;
$black-100: #f7f7f7;
$black-000: #ffffff;
$black-alpha-100: rgba(0, 0, 0, 0.05);

// redes
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
